<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="group">
      <h2 data-cy="groupDetailsHeading"><span jhiTranslate="tqmiApp.group.detail.title">Group</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ group.id }}</span>
        </dd>
        <dt><span jhiTranslate="tqmiApp.group.groupName">Group Name</span></dt>
        <dd>
          <span>{{ group.groupName }}</span>
        </dd>
        <dt><span jhiTranslate="tqmiApp.group.ceog">Ceog</span></dt>
        <dd>
          <div *ngIf="group.ceog">
            <a [routerLink]="['/employee', group.ceog.id, 'view']">{{ group.ceog.abbreviation }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Zurück</span>
      </button>

      <button type="button" [routerLink]="['/group', group.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Bearbeiten</span>
      </button>
    </div>
  </div>
</div>
